{% load i18n %}<p>{% trans "Halo," %}</p>
<p>{% trans "Anda menerima email ini karena Anda meminta reset password untuk akun Anda di SPADA UMG." %}</p>
<p>{% trans "Silakan klik tautan di bawah ini untuk mereset password Anda:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">{% trans "Reset Password" %}</a></p>
<p>{% trans "Tautan ini hanya berlaku selama 24 jam." %}</p>
<p>{% trans "Jika Anda tidak meminta reset password, abaikan email ini." %}</p>
<p>{% trans "Terima kasih," %}<br>{% trans "Tim SPADA UMG" %}</p>
